<div class="goods-lists row col-md-3 col-sm-6 col-xs-12">
    <% if(items.length <= 0){ %>
    <div id="nulldata">
        Sorry, <br/>
        暂时没有宝贝，请联系微信：...
    </div>
    <% }else{ %>
    <% items.forEach(function(item, index){ %>
    <div class="good-info thumbnail">
        <img class="good-img img-rounded" src=<%- item.pic1 %> alt="">
        <div class="good-caption">
            <div class="good-title"><%- item.title %></div>
            <div class="good-price">
                优惠后价格:&nbsp;
                <span>
                    <%- item.realprice %>
                </span>
            </div>
            <div class="good-coupon">
                优惠劵:&nbsp;
                <span>
                    <%- item.coupon %>
                </span>
            </div>
            <div class="good-detail-link">
                <a href="#" class="btn btn-default">详情</a>
            </div>
            <div class="good-collect-num">
                收藏数:&nbsp;
                <span>
                    <%- item.collect %>
                </span>
            </div>
            <div class="btn_good_collect heart"></div>
        </div>
    </div>
    <% }) %>
    <% } %>
</div>