<%- include header1.ejs%>

<link rel="stylesheet" type="text/css" href="css/nav/demo-1.css">
<link rel="stylesheet" type="text/css" href="css/index/index.css">

<div class="wrapper">
    <div class="menu">
        <img id="menu-bg" src="" />
        <ul>
            <li class="active mainKey"><a>最新</a></li>
            <li class="mainKey"><a>火爆</a></li>
            <% for(let m_key in navJson){ %>
            <!-- 一级分类 -->
            <li class="mainKey"><a><%- m_key %></a>
                <!--二级分类-->
                <% if(navJson[m_key]){ %>
                <ul style="display: none;">
                    <li class="subKey1 list-all"><a>全部</a></li>
                    <% for(let s_key1 in navJson[m_key]){ %>
                    <li class="subKey1"><a><%- s_key1 %></a></li>
                    <% } %>
                </ul>
                <% } %>
            </li>
            <% } %>
        </ul>
    </div>

    <div class="screen">
        <!--导航条-->
        <div class="navbar">
            <div class="burger">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </div>
            <!--用户按钮-->
            <div id="btn-user-img">
                <div id="user-img-inactive"></div>
                <div id="user-img-active"  style="display: none"></div>
            </div>
        </div>
        <!--点击用户信息按钮，如果服务器发生错误，这里提示后返回-->
        <div id="user-res-tips" style="display: none;"></div>

        <div id="list-container">
            <div class="goods-container">
                <%- include goodinfo.ejs %>
            </div>
        </div>

        <!--用户信息页面-->
        <%- include user.ejs %>

    </div>

</div>

<!--<script type="text/javascript" src="/js/other/jquery-3.1.0.js"></script>-->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="/jquery-ui/jquery-ui.js"></script>-->
<script src="//cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="/js/index/index.js"></script>
<!--<script src="/plugins/clipboard.min.js" defer></script>-->
<script src="//cdn.bootcss.com/clipboard.js/1.5.15/clipboard.min.js"></script>
<script src="/plugins/iscroll-probe.js"></script>

<script type="text/javascript">
    $(function () {
        $('div.goods-lists').css('height',function () {
            return $(window).height()- 37;
        });
        if($(window).width()>767){
            // 初始化图片显示高宽
            $('.good-info').css({
                height: '200px'
            })
            $('.good-info .good-img').css({
                width:'200px'
            });
            // 物品描述文字高宽
            $('.good-caption').css({
                width: '300px',
            });
        }
    });
</script>

<%- include footer.ejs%>

